<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="UDPFileFolder" value="E:\Data\AlreadyPushedUDPFile\20181122"/>
  <add key="DeviceSerialNumber" value="000000500213"/>
  <add key="SaveLocation" value="E:\UDPExcelFiles\"/>
</appSettings>
</configuration>